# Игнорировать переменные окружения с секретными данными
.env

# Игнорировать временные файлы и кэш
__pycache__/
.pytest_cache/
*.pyc

# Игнорировать локальные файлы IDE
.idea/
.vscode/

# Игнорировать файл с последним обработанным ID (на всякий случай)
last_processed_id.txt